:root {
	--main-bg: linear-gradient(90deg, #74b9ff 0%, #a29bfe 100%);
}

body {
	background: #fafafa;
}

header {
	padding: 10px;
	background: var(--main-bg);
	background-image: url('../img/header_bg.jpg');
	background-attachment: fixed;
	background-size: 100%;
	box-shadow: 0px 5px 8px -3px rgba(34, 60, 80, 0.2);
}

header h1 {
	color: #fff;
	font-weight: bold;
}

footer {
	bottom: 0;
	right: 0;
	position: absolute;
	padding: 25px;
	background: #dfe8fe;
	position: fixed;
	box-shadow: 0px 5px 8px 5px rgba(34, 60, 80, 0.2);
}

.stroked {
	text-shadow: 1px 1px 1px #000;
}

.game-box {
	background: #dfe8fe;
	cursor: pointer;
	text-align: center;
	padding: 10px;
	box-shadow: 0px 5px 8px -3px rgba(34, 60, 80, 0.2);
	transition: 0.4s;
}

.game-box:hover {
	transform: scale(1.2);
}

.game-img img {
	width: 250px;
	height: 250px;
	background: #dfe8fe;
	margin-bottom: 10px;
}