:root {
	--main-bg: linear-gradient(90deg, #74b9ff 0%, #a29bfe 100%);
	--main-color: #404040;
}

@font-face {
	font-family: 'Logo';
	src: url('../fonts/logo.otf');
}

@font-face {
	font-family: 'Font';
	src: url('../fonts/font.ttf');
}

body {
	/*background: var(--main-color);*/
	background: url(../img/bg.jpeg);
	font-family: 'Font';
}

header {
	padding: 10px;
	background: var(--main-color);
}

.container-custom {
	background: #fff;
	height: 100%;
}

header h1 {
	color: #fff;
	/*font-weight: bold;*/
	font-family: 'Logo';
}

footer {
	padding: 25px;
	background: var(--main-color);
}

.game-box {
	background: var(--main-color);
	cursor: pointer;
	text-align: center;
	padding: 10px;
	transition: 0.4s;
	color: #fff;
	border-radius: 10px;
}

.game-box:hover {
	transform: scale(1.05);
}

.game-img img {
	width: 250px;
	height: 250px;
	background: #dfe8fe;
	margin-bottom: 10px;
}

.game-frame {
	border: 2px solid #dfe8fe;
	height: 600px;
}

.back-from-game {
	margin-top: 10px;
	font-size: 24px !important;
	cursor: pointer;
}

.spacer {
	padding: 50px;
}